.grid {
    border: 10px solid #ddd;
    display: inline-block; 
    white-space: nowrap;
    padding: 1px;
}
.row {
    margin: 0;
}
.cell {
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
}
.highway {
    width: 10px;
    height: 10px;
    margin: 5px;
    vertical-align: top;
    background-color: #0000FF;
}