<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>A* Grid Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/gridstyle.css') }}">
</head>
<body>
    <div class="grid"></div>

    <div class="fixed">
        <button id="classicAstarBtn" type="button">Run Classic A*</button>
        <div>
            <button id="weightedAstarBtn" type="button">Run Weighted A*</button>
            <input id="weightTxt" type="text" value="1.0" style="max-width: 100px;">
        </div>
        <div>
            <button id="showTraceBtn" type="button" onclick="showTrace()">Show Trace</button>
            <button id="clearTraceBtn" type="button" onclick="clearTrace()">Clear Trace</button>
            <div>
                <p>Cost: <span id="costTxt"></span></p>
                <p>Expansions: <span id="expansionsTxt"></span></p>
                <p>Moves: <span id="movesTxt"></span></p>
                <p>Time (s): <span id="timeTxt"></span></p>
            </div>
        </div>
    <div>

    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/grid.js')}}"></script>
    <script>
        var grid;
        var trace;
        var traceData = {};
        (function() {

            grid = new Grid({
                rows: {{ rows }},
                cols: {{ cols }},
                render: {
                    container: '.grid'
                }
            });

            var graph_data = JSON.parse({{ graph_data|tojson|safe }});
            var nodes = graph_data.nodes;

            try {
                for (var i = 0; i < nodes.length; i++) {
                    switch (nodes[i].cell_type) {
                        case 'hard_to_traverse':
                            grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'darkgray');
                            break;
                        case 'blocked':
                            grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'black');
                            continue;
                            break;
                    }

                    if (nodes[i].has_highway) {
                        grid.getCellAt(nodes[i].x, nodes[i].y).$el.append('<div class=highway></div>');
                    }

                    if(nodes[i].hasOwnProperty('is_start')) {
                        grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'lime'); 
                        continue;
                    }

                    if(nodes[i].hasOwnProperty('is_goal')) {
                        grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'red');
                    }

                }
            } catch (err) {
                console.log(err.message);
            }

        }());

        function showTrace() {
            if (trace) {
                var r, c;
                for (var i = 0; i < trace.length; i++) {
                    r = trace[i].y;
                    c = trace[i].x;
                    grid.getCellAt(c, r).$el.addClass('trace');
                }
            }
            if (traceData) {
                $('#costTxt').empty().append(traceData.cost);
                $('#expansionsTxt').empty().append(traceData.expansions);
                $('#movesTxt').empty().append(traceData.moves);
                $('#timeTxt').empty().append(traceData.timeElapsed);
            }

        };

        function clearTrace() {
            if (trace) {
                var r, c;
                for (var i = 0; i < trace.length; i++) {
                    r = trace[i].y;
                    c = trace[i].x;
                    grid.getCellAt(c, r).$el.removeClass('trace');
                }
            }
            $('#costTxt').empty();
            $('#expansionsTxt').empty();
            $('#movesTxt').empty();
            $('#timeTxt').empty();
        };

        function updateTraceData(data) {
            trace = data.nodes;
            traceData.cost = data.cost;
            traceData.expansions = data.expansions;
            traceData.moves = data.moves;
            traceData.timeElapsed = data.time;
        }

        $(document).ready(function() {
            $('#weightedAstarBtn').click(function() {
                clearTrace();
                var w = parseFloat($('#weightTxt').val());
                if (isNaN(w)) {
                    alert('Please enter a floating point decimal');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: '/grid/astar',
                    data: {'w': w},
                    success: function(data) {
                        updateTraceData(data);
                    }
                });
            });
        });

        $(document).ready(function() {
            $("#classicAstarBtn").click(function() {
                clearTrace();
                $.ajax({
                    type: 'GET',
                    url: '/grid/astar',
                    success: function(data) {
                        updateTraceData(data);
                    }
                });
            });
        });
        
    </script>
</body>
</html>