<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>A* Grid Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/gridstyle.css') }}">
</head>
<body>
    <div class="grid"></div>

    <div class="fixed">
        <button id="classicAstarBtn" type="button">Run Classic A*</button>
        <div>
            <button id="weightedAstarBtn" type="button">Run Weighted A*</button>
            <input id="weightInput" type="text" value="1.0" style="max-width: 100px;">
        </div>
        <div>
            <button id="ucsBtn" type="button">Run Uniform-Cost Search</button>
        </div>
        <div>
            <span>Heuristic:</span>
            <select id="heuristicSelection">
                <option value="euclidean" selected>Euclidean</option>
                <option value="manhattan">Manhattan</option>
                <option value="chebyshev_diagonal">Chebyshev Diagonal</option>
                <option value="octile_diagonal">Octile Diagonal</option>
                <option value="corner_euclidean">Corner Euclidean</option>
                <option value="corner_manhattan">Corner Manhattan</option>
                <option value="inverse_path_cost">Inverse Path Cost</option>
            </select>
        </div>
        <div>
            <button id="showTraceBtn" type="button" onclick="showTrace()">Show Trace</button>
            <button id="clearTraceBtn" type="button" onclick="clearTrace()">Clear Trace</button>
        </div>
        <div>
            <p>
                Cost: <span id="costTxt"></span><br>
                Expansions: <span id="expansionsTxt"></span><br>
                Moves: <span id="movesTxt"></span><br>
                Time (s): <span id="timeTxt"></span>
            </p>
        </div>
        <div>
            <span>Get search values f, g, h for node (R,C): <br></span>
            <input id="rowInput" type="text" value="0" style="max-width: 100px;">
            <input id="colInput" type="text" value="0" style="max-width: 100px;">
            <br>
            <button id="searchNodeDataBtn" type="button">Get Search Data</button>
            <br>
            <p>
                f: <span id="fTxt"></span><br>
                g: <span id="gTxt"></span><br>
                h: <span id="hTxt"></span>
            </p>
        </div>
    <div>

    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/grid.js')}}"></script>
    <script>
        var grid;
        var trace;
        var searchData = {};
        (function() {

            grid = new Grid({
                rows: {{ rows }},
                cols: {{ cols }},
                render: {
                    container: '.grid'
                }
            });

            var graph_data = JSON.parse({{ graph_data|tojson|safe }});
            var nodes = graph_data.nodes;

            try {
                for (var i = 0; i < nodes.length; i++) {
                    switch (nodes[i].cell_type) {
                        case 'hard_to_traverse':
                            grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'darkgray');
                            break;
                        case 'blocked':
                            grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'black');
                            continue;
                            break;
                    }

                    if (nodes[i].has_highway) {
                        grid.getCellAt(nodes[i].x, nodes[i].y).$el.append('<div class=highway></div>');
                    }

                    if(nodes[i].hasOwnProperty('is_start')) {
                        grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'lime'); 
                        continue;
                    }

                    if(nodes[i].hasOwnProperty('is_goal')) {
                        grid.getCellAt(nodes[i].x, nodes[i].y).$el.css('background-color', 'red');
                    }

                }
            } catch (err) {
                console.log(err.message);
            }

        }());

        function showTrace() {
            if (trace) {
                var r, c;
                for (var i = 0; i < trace.length; i++) {
                    r = trace[i].y;
                    c = trace[i].x;
                    grid.getCellAt(c, r).$el.addClass('trace');
                }
            }
            if (searchData) {
                $('#costTxt').empty().append(searchData.cost);
                $('#expansionsTxt').empty().append(searchData.expansions);
                $('#movesTxt').empty().append(searchData.moves);
                $('#timeTxt').empty().append(searchData.timeElapsed);
            }

        };

        function clearTrace() {
            if (trace) {
                var r, c;
                for (var i = 0; i < trace.length; i++) {
                    r = trace[i].y;
                    c = trace[i].x;
                    grid.getCellAt(c, r).$el.removeClass('trace');
                }
            }
            $('#costTxt').empty();
            $('#expansionsTxt').empty();
            $('#movesTxt').empty();
            $('#timeTxt').empty();
        };

        function updateSearchData(data) {
            trace = data.trace;
            searchData.cost = data.cost;
            searchData.expansions = data.expansions;
            searchData.moves = data.moves;
            searchData.timeElapsed = data.time;
        }

        $(document).ready(function() {
            $('#classicAstarBtn').click(function() {
                clearTrace();
                var h = $('#heuristicSelection').val();
                $.ajax({
                    type: 'GET',
                    url: '/grid/astar',
                    data: {'h': h},
                    success: function(data) {
                        updateSearchData(data);
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#weightedAstarBtn').click(function() {
                clearTrace();
                var w = parseFloat($('#weightInput').val());
                if (isNaN(w)) {
                    alert('Please enter a floating point decimal');
                    return;
                }
                var h = $('#heuristicSelection').val();
                $.ajax({
                    type: 'GET',
                    url: '/grid/astar',
                    data: {'w': w, 'h': h},
                    success: function(data) {
                        updateSearchData(data);
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#ucsBtn').click(function() {
                clearTrace();
                var h = $('#heuristicSelection').val();
                $.ajax({
                    type: 'GET',
                    url: '/grid/astar',
                    data: {'w': 0.0, 'h': h},
                    success: function(data) {
                        updateSearchData(data);
                    }
                });
            });
        });
        
        $(document).ready(function() {
            $("#searchNodeDataBtn").click(function() {
                var r = parseInt($('#rowInput').val());
                var c = parseInt($('#colInput').val());
                if (isNaN(r) || isNaN(c)) {
                    alert('Please enter valid integer coordinates (0 indexed)');
                    return;
                }
                if (r < 0 || r > 119) {
                    alert('Row out of bounds');
                    return;
                }
                if (c < 0 || c > 159) {
                    alert('Column out of bounds');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: '/grid/astar/node-stats',
                    data: {'r': r, 'c': c},
                    success: function(data) {
                        $('#fTxt').empty().append(data.f);
                        $('#gTxt').empty().append(data.g);
                        $('#hTxt').empty().append(data.h);
                        console.log(data);
                    }
                });
            });
        });

    </script>
</body>
</html>